<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>PO<B>SH OP</B>TION</h1>
    <p>The word "shop" is in our name.</p>
  </div>
</div>
<div class="container">
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{about}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Tired of the other options? Try a Posh one.</h5>
          <p class="card-text">Posh Option is an online emporium that carries items you'd expect and plenty you wouldn't. We specialize in the everyday and in the extravagant, from books to music to luxury imports. 
            You'll find what you're looking for and something extra, too.<br><br>
            Our prices are always competitive. Our items are always in stock. And shipping is always free. Guaranteed.<br><br>
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="card-deck mb-4">
  <div class="card">
    <img class="card-img-top" src="{{luxury}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Luxury imported</h5>
      <p class="card-text">Fragrances and leather bags straight from the source.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{food}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">International foods</h5>
      <p class="card-text">Taste something different with snacks from around the globe.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{music}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Classic and contemporary tunes</h5>
      <p class="card-text">For old souls and new.</p>
    </div>
  </div>
  <div class="card">
      <img class="card-img-top" src="{{clothes}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Latest fashions</h5>
        <p class="card-text">Why wait when you can try the newest styles.</p>
      </div>
    </div>
</div>
</div>