.jumbotron{
    background-image: url("src/assets/images/page-not-found.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    border-radius: 0;
    height: 100vh;
}